<!-- <div class='list'>
  <h4 class='list-group-item-heading'><%= item.name %>
  <%= days_left(item) %>
  <button type="button" class="btn btn-default">
    <%= link_to "Delete", user_item_path(@user.id, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  </button>
  </h4>
</div> -->

<table>
  <tr>
    <!-- <th>Task</th>
    <th>Created</th>
    <th>Complete</th> -->
  <tr>
    <td><%= item.name %></td>
    <td><%= days_left(item) %></td>
    <td><button type="button" class="btn btn-default">
      <%= link_to "Complete", user_item_path(@user.id, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    </button></td>
  </tr>
</table>
